<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>controllers</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">YouTunes</a>
    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" >
        <input th:name="searchTerm" placeholder="Search.." class="form-control mr-sm-2" type="search" aria-label="Search">
        <button th:href="@{/search}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="d-flex p-2 justify-content-center">
<div class="card-group">
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Random Artists</div>
    <div class="card-body">
        <ul th:each="artist : ${artists}" class="card-text">
            <li th:text="${artist.getArtistName()}"></li>
        </ul>
    </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Random Songs</div>
    <div class="card-body">
        <ul th:each="song : ${songs}" class="card-text">
            <li th:text="${song.getSongName()}"></li>
        </ul>
    </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Random Genres</div>
    <div class="card-body">
        <ul th:each="genre : ${genres}" class="card-text">
            <li th:text="${genre.getGenreName()}"></li>
        </ul>
    </div>
</div>
</div>
</div>

</body>
</html>