<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<h1>Search results</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Track Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${results}">
        <td th:text="${result.getSongName()}" scope="row"></td>
        <td th:text="${result.getArtist()}"></td>
        <td th:text="${result.getAlbum()}"></td>
        <td th:text="${result.getGenre()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>